/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3;
}

.content-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content-link:hover {
  border-block-end: 1px solid currentColor;
}

.content-link:focus-visible {
  outline: 1px solid currentColor;
}
