/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-decor-color: #353430;
  --title-color: #353430;
  --accent-color: #ff8dcb;
  --heading-color: #ffc2e6;
  --btn-hover-outline-color: rgba(50, 49, 45, 0.4);
  --btn-active-outline-color: #353430;
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --background-image: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-decor-color: #353430;
    --title-color: #353430;
    --accent-color: #ff8dcb;
    --heading-color: #ffc2e6;
    --btn-hover-outline-color: rgba(50, 49, 45, 0.4);
    --btn-active-outline-color: #353430;
  }

  :root:not(.theme-dark) .header__rec {
    display: none;
  }

  /* Остальные стили, только при необходимости */
}
