/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("../images/cover-image-light.png");
  --bg-color: #ffc2e6;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --heading-color: #ffc2e6;
}

:root.theme-light .header__rec {
  display: none;
}
