/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(
    --background-image,
    url("../images/cover-image-dark.png")
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color, #000028);
  color: var(--text-color, #f1b2ce);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* HEADER */

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: repeat(24, minmax(0, 1fr));
  grid-template-columns: repeat(24, minmax(0, 1fr));
  padding-block: var(--header-vertical-padding, 0px);
  padding-inline: var(--header-horizontal-padding, 10px);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  grid-row: 3;
  grid-column: -2;
  margin-block-start: var(--header-menu-margin-top, 20px);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  color: var(--accent-color, #ff0070);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  text-transform: lowercase;
  cursor: pointer;
}

.header__title {
  align-self: center;
  justify-self: start;
  grid-row: 12;
  grid-column: 1 / -1;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83; /* or 96px */
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  color: var(--heading-color, #db00ff);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
}

.header__description {
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 23px;
  justify-self: stretch;
  align-self: end;
  grid-row: -5;
  grid-column: 1 / -1;
  /* TO DO letter-spacing */
}

@media (width >= 768px) {
  .header {
    display: grid;
    grid-template-columns: repeat(24, minmax(0, 1fr));
    grid-template-rows: repeat(24, minmax(0, 1fr));
    padding-inline-start: 0px;
  }

  .header__title {
    grid-row: 12/16;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    grid-row: 18 / 22;
    grid-column: 14 / -1;
    padding-right: 20px;
  }

  .header__theme-menu {
    grid-row: 5 / 7;
    grid-column: 24;
  }
}

@media (width >= 1024px) {
  .header {
    display: grid;
    grid-template-columns: repeat(24, minmax(0, 1fr));
    grid-template-rows: repeat(24, minmax(0, 1fr));
    padding-inline-start: 0px;
  }

  .header__title {
    grid-row: 10 / 14;
  }

  .header__description {
    grid-row: 19 / 22;
    grid-column: 13 / -1;
    padding-right: 0;
  }

  .header__theme-menu {
    grid-row: 1;
    grid-column: 12 / 16;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    display: flex;
  }
}

/* REC */

.header__rec {
  position: absolute;
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-weight: regular;
  line-height: 1.4;
  text-transform: uppercase;
  inset-block-start: 10px;
  inset-inline-end: 20px;
  font-size: 1.125rem;
  color: var(--accent-color, #ff0070);
}

@media (width >= 768px) {
  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 29px;
  }
}

/* RECPOINT */

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  vertical-align: middle;
  margin-inline-start: 10px;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

/* CORNERS */

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

/* UPPER CORNER*/
.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--accent-color, #ff0070);
  border-inline-end: 1px solid var(--accent-color, #ff0070);
}

/* LOWER CORNER */

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
}

@media (width >= 768px) {
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
}

/* MAIN TEXT AREA */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline: var(--main-horizontal-padding, 10px);
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-card__holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-section__title {
  color: var(--title-color, #ff0070);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3;
}

.content-section__subtitle {
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3;
}

.content-card__title {
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  /* color: var(--text-color); */
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3;
}

.content-card__title-alt {
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3;
}

.content-card__text {
  color: var(--text-color);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-style: regular;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3;
}

@media (width >= 768px) {
  /* section one and three */
  .content-section_type_intro,
  .content-section_type_tips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .content-card__holder {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  /* section two */
  .content-section_type_reasons {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .content-section_type_reasons .content-card__holder {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

@media (width >= 1024px) {
  .content-section_type_reasons {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content-section_type_reasons .content-card__holder {
    grid-column: 1 / -1;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .content-section_type_reasons .content-card__holder .content-card {
    flex-basis: calc((100% - 20px) / 3);
  }
}

/* GALLERY */

.content-section_type_gallery {
  gap: 10px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__item {
  margin: 0px;
}

.gallery__image {
  inline-size: 100%;
}

@media (width >= 768px) {
  .gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "sunset sunset icecream"
      "tape   books   icecream"
      "tape street street";
  }

  .gallery__item:nth-child(1) {
    grid-area: sunset;
  }
  .gallery__item:nth-child(2) {
    grid-area: icecream;
  }
  .gallery__item:nth-child(3) {
    grid-area: tape;
  }
  .gallery__item:nth-child(4) {
    grid-area: books;
  }
  .gallery__item:nth-child(5) {
    grid-area: street;
  }

  .gallery__image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/* FOOTER */

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  place-items: center;
}

.footer__title {
  color: var(--heading-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-transform: lowercase;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
}
