/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --text-color: #f1b2ce;
  --title-decor-color: #000028;
  --title-color: var(--accent-color);
  --border-color: var(--accent-color);
  --font-family: "IBM Plex Mono", monospace;
  --border-decorated-zone-color: #ff0070;
  --btn-menu-text-color: #ff0070;
  --btn-active-outline-color: #ff0070;
  --btn-hover-outline-color: rgba(255, 0, 112, 0.4);
  --btn-focus-outline-color: #ff0070;
  --header-horizontal-padding: 10px;
  --header-vertical-padding: 0px;
  --main-horizontal-padding: 10px;
  --header-menu-margin-top: 20px;
}

@media (width >= 768px) {
  :root {
    --header-horizontal-padding: 20px;
    --header-vertical-padding: 20px;
    --main-horizontal-padding: 20px;
    --header-menu-margin-top: 0px;
  }
}
